

body.salesPage {
    background-color: lightblue;
}
body.customerPage {
  background-image: url("../pictures/FishCookies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.about {
  background-color: salmon;
}

body.merchandise {
  background-color: orchid;
}
body.locations {
  background-color: lavender;
}

header {
  margin-top:15px;
 font-size: 100px;
 font-family: 'Kalam', cursive;
 text-align: center;
 color: purple;
}

body #merch {
  width:75%;
  margin: 0 auto;
}
div img{
  display:inline;
  width: 25%;
  margin-left: 6%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  text-align: center;
  /* margin-top:5%;
  margin-bottom:5%;
  margin-right: 5%; */
  margin: 5%;
  padding: 1%;
  border:2px black;
  color: rgb(250,128,114);
  background-color: aquamarine;

}
 

h2 {
  font-family: 'Courgette', cursive;
  background-color: aqua;
  text-align: center;
  margin-top:.5em;
  margin-bottom:1em;
  margin-left:2em;
  margin-right:2em;
  border-width: 4px;
  border-style:solid;
  padding: 2%;
  border-color:orange
}

h3 #locationList {
  text-align:left;
}

table {
	border: 10px solid rgb(189, 74, 174);
	empty-cells: hide;
}

 input {
	background: white;
}

nav.clickables {
  font-family: 'Teko', sans-serif;
  font-size: 1em;
  display: inline;
  text-align: center;
  margin: 3%;
}

nav li {
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  display: inline;
  text-align: center;
  margin: 3%;
}


td, th {
	padding: 10px;
	/* border-radius: 15px; */
  border: 1px solid black;
  background: white;
}


.store-lists {
  float:left;
  width:20%;
}

h1 {
  font-family: Times;
  /* text-align: center; */
  color: rgb(250,128,114);
}
